.dropdownWrapper {
    position: relative;
    line-height: 30px;
    user-select: none;
    cursor: pointer;
    z-index: 5;
    font-family: 'Roboto', 'sans-serif';
    font-size: 0.9rem;
    z-index: 25;

    .dropdownButton {
        border-radius: 6px;
    }

    .dropdownContent {
        opacity: 0;
    }

}

.dropdownWrapperOpen {
    @extend .dropdownWrapper;

    .dropdownButton {
        border-radius: 6px 6px 0px 0px;
    }

    .dropdownContent {
        opacity: 1;
    }
}

.dropdownButton {
    min-width: 100px;
    min-height: 30px;
    background-color: #2196F3;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    position: relative;
}

.triangle {
    width: 0; 
    height: 0;
    position: absolute;
    top: 12px;
    right: 6px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;  
    border-top: 6px solid #ffffff;
}

.dropdownContent {
    display: block;
    position: absolute;
    top: 30px;
    background-color: #2196F3;
    min-width: 100px;
    z-index: 30000;
    border-radius: 0px 0px 6px 6px;
    box-sizing: border-box;
    z-index: 1;
    transition: 0.3s opacity;
    overflow-y: scroll;
    max-height: 180px;

    div {
        display: flex;
        justify-content: center;
    }
}

.dropdownContentItem {
    height: 30px;
    width: 100%;
}