@import '../../App.scss';

.birthdaySelection {
    padding: 10px 40px 20px 40px;
    min-height: calc(70vh - 30px);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    z-index : 20;
    position: relative;
    box-sizing: border-box;

    @include for-size(mobile) {
        padding: 10px 0px 20px 0px;
        justify-content: center;
        min-height: 75vh;
    }
}

.noGroupBirthdaySelection {
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 5;
}

.noGroupText {
    user-select: none;
    font-weight: 700;
    font-size: 1.25rem;
}
