@import '../../App.scss';

.birthdaySelection {
    color : #fff;
    margin: 0 5%;
    width: 100%;
    min-height: 70vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    z-index : 20;
    position: relative;
}

.noGroupBirthdaySelection {
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 5;
}

.noGroupText {
    user-select: none;
    font-weight: 700;
    font-size: 1.25rem;
}
