.titleContainer {
    flex: 1 0 15%;
    color: rgb(7, 6, 6);
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2, h6 {
        font-size: 2rem;
        margin: 4px;
    }

    h6 {
        font-size: initial;
    }
}

.sortButton {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 5px;
    margin: 5px 5px 0px 0px;
    width: 75px;
    height: 25px;
    font-weight: bold;
    cursor: pointer;
}