.backButton {
    position: absolute;
    top: 0;
    left: 0;
    margin: 5px 0px 0px 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: color 100ms ease-in-out;
    width: 75px;
    height: 25px;
    border-radius: 5px;
    z-index: 20;

    svg {
        font-size: 1.2rem;
    }

    a {
        color: #fff;
    }
}
