.groupContainer {
    // flex: 1 0 85%;
    min-height: calc(70vh - 30px);
    // width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
    padding: 10px 25px 20px 25px;
    position: relative;
    z-index: 5;
}

.noMemberGroupContainer {
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 5;
}

.noMemberText {
    user-select: none;
    font-weight: 700;
    font-size: 1.25rem;
}