.groupContainer {
    // flex: 1 0 85%;
    min-height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
    padding: 10px 0px 20px 10px;
    position: relative;
    z-index: 5;
}

.noMemberGroupContainer {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}