.toggleSwitch {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 34px;
    cursor: pointer;

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #999999;
        transition: 0.6s;
        border-radius: 34px;
        box-shadow: 0 0 1px #2196F3;
    }

    .sliderOn {
        @extend .slider;
        background-color: #2196F3;
    }
    
    .switch {
        position: absolute;
        height: 28px;
        width: 28px;
        left: 2px;
        bottom: 3px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 50%;
        z-index: 5;
    }
    
    .switchLabel {
      color: white;
      position: absolute;
      transform: translate(-50%,-50%);
      top: 50%;
      left: 50%;
      font-size: 0.85rem;
      z-index: 10;
      user-select: none;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;

      svg {
          width: 1.25rem;
          height: 1.25rem;
      }
    }

    .switchIcon {
        margin-right: 5px;
    }
}