.toggleSwitch {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 34px;
    border-radius: 34px;
    transition: .4s all;
    cursor: pointer;

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #999999;
        transition: 0.6s;
        border-radius: 34px;
        box-shadow: 0 0 1px #2196F3;
    }

    .sliderOn {
        @extend .slider;
        background-color: #2196F3;
    }
    
    .switch {
        position: absolute;
        height: 28px;
        width: 28px;
        left: 2px;
        bottom: 3px;
        background-color: white;
        transition: .4s all;
        border-radius: 50%;
        z-index: 5;
    }
    
    .switchIcon {
        position: absolute;
        right: 5px;
        bottom: 4.5px;
        height: 25px;
        width: 25px;

        svg {
            height: 25px;
            width: 25px;
        }
    }
}