.loadingContainer {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    z-index: 10000;
    transition: all 0.5s;
    pointer-events: none;
}

.loadingAnimation {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    width: 200px;
    height: 60px;

    span {
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        font-size: 1.1rem;
    }
}

@keyframes triangle-color {
    0% { fill: #812E90; }
    33% { fill: #51B14A; }
    66% { fill: #71C7E7; }
    100% { fill: #812E90; }
}

.sakamichi {
    width: 75px;
    height: 75px;
    fill: #812E90;
    animation: triangle-color 3.6s ease infinite;
}