.groupChoice {
    display: flex;
    color: #fff;
    max-width: 200px;
    flex: 1 0 31%;
    height: 150px;
    position: relative;
    overflow: hidden;
    margin: 10px;
    background-size: contain;
    background-repeat: none;
    background-position: center;
    // transition: background-size 0.3s 0.5s ease-in;

    a {
        text-decoration: none;
    }
    a:visited {
        color: #fff;
    }
}

.hoverRect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    transform: scale(0);
    transition: transform 0.3s 0s ease-in;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}

.groupTitle {
    font-size: 1.428571428571429rem;
}

.groupSubtitle {
    font-weight: 700;
    font-family: 'Roboto', 'sans-serif';
    font-size: 0.857142857rem;

}

.hoverName {
    position: absolute;
    transition: transform opacity 0.3s ease-in;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 6;
    font-size: 1.4rem;
    opacity: 0;
    transform: scale(5);
}

.groupChoice:hover {
    // transition: background-size 0.3s 0s ease-in;
    // background-size: 125%;

    .hoverRect {
        transform: scale(1);
    }

    .hoverName {
        opacity: 1;
        transform: scale(1);
    }
}

.groupName {
    left: 0;
    bottom: 0;
    position: absolute;
    width: 100%;
    z-index: 10;
    background-color: rgba(0.5,0.5,0.5,0.5);
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 1.142857142857143rem;
}

.groupBackground {
    position: absolute;
    width: 200px;
    z-index: 1;
    transition: transform 0.3s ease-in;
}