@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'SawarabiGothic';
  src: url('./assets/fonts/SawarabiGothic-Regular.ttf');
}

@keyframes rotating {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

body {
  font-family: 'SawarabiGothic', 'Roboto', sans-serif;
}

.app-body {
  width: 100%;
  min-height: 90vh;
}

header {
  user-select: none;
}

%animatedBackgroundCircle {
  position: fixed;
  animation: rotating 40s linear infinite;
  z-index : 2;
}

.hinatazakaCircle {
  @extend %animatedBackgroundCircle;
  top: 25%;
  right: 20%;
}

.nogizakaCircle {
  @extend %animatedBackgroundCircle;
  bottom: 5%;
  right: 0%;
}

.keyakizakaCircle {
  @extend %animatedBackgroundCircle;
  bottom: 0%;
  right: -10%;
}

.hinataRect {
  position: fixed;
  left: 1.5%;
  top : 0;
  height: 100%;
  z-index : 2;
}

.nogiRect {
  position: fixed;
  left: 2.5%;
  top : 0;
  height: 100%;
  z-index : 2;
}