@import '../../assets/breakpoints.scss';

.titleContainer {
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 5;

    @include for-size(mobile) {
        height: 15vh;
    }

    h2, h4 {
        text-align: center;
        margin-top: 0;
        margin-bottom: 5px;
    }

    h2 {
        font-size: 1.5rem;
        font-weight: 700;

        @include for-size(mobile) {
            font-size: 1rem;
        }
    }

    h4 {
        font-size: 1.15rem;
        font-weight: 500;
        margin-bottom: 0px;

        @include for-size(mobile) {
            font-size: 0.75rem;
        }
    }
}